# Question 21

In a jupyter notebook solve the following question. Please upload the notebook to GitHub and provide the link submission box below.

 

__int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

Length():: returns the length if the segment 

Slope() returns the slope of the segment of none if the slope is unbounded 

 

>>> p1 = Point(3,4)

>>> p2 = Point()

>>> s = Segment(p1,p2)

>>> s.length()

5.0

>>> s.slope()

0.75

In [19]:
class Point:
    def __init__(self, x=0, y=0):
        self.x=x
        self.y=y
        
class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
        
    def length(self):
        x1 = self.p1.x
        x2 = self.p2.x
        y1=self.p1.y
        y2= self.p2.y
        return ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5

    def slope(self):
        return (self.p2.x - self.p1.x) / (self.p2.y - self.p1.y)
    
p1 = Point(3, 4)
p2 = Point(0,0)
s = Segment(p1, p2)

s.length()

s.slope()

0.75

# Question 22

In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [26]:
import sqlite3

conn = sqlite3.connect('weather_db.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

cursor.executemany('''
    INSERT INTO Weather (id, recordDate, temperature)
    VALUES (?, ?, ?)
''', [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
])

conn.commit()
conn.close()

OperationalError: database is locked

In [29]:
query = '''
    SELECT w1.id
    FROM Weather w1
    JOIN Weather w2 ON w1.id = w2.id + 1
    WHERE w1.temperature > w2.temperature
'''

ids = cursor.execute(query).fetchall()

for id in ids:
    print(id[0])

2
4

# Question 23

In a jupyter notebook solve the following question using python. Please upload the notebook to GitHub and provide the link submission box below.



Develop a recursive function tough() that takes two nonnegative integer arguments and outputs a pattern as shown below. Hint: The first argument represents the indentation of the pattern, where the second argument -- always a pattern of 2 indicates the number *s in the longest line of *s in the pattern

>>>f(0,0)

>>>f(0,1) 
*
>>>f(0,2)
*
**
 *
>>>f(0,4)
*
**
 *
****
    *
    **
    *

In [39]:
def tough(indent, num):
    if num == 0:
       
        tough(indent, num // 2)
        print(" " * indent + "*" * num)

        tough(indent, num // 2)

tough(0, 0)
#tough(0, 1)
#tough(0, 2)
#tough(0, 4)

RecursionError: maximum recursion depth exceeded